@charset "UTF-8";

@font-face {
  font-family: calibri;
  font-display: swap;
  src: url("../fonts/calibri.woff2") format("woff2"), url("../fonts/calibri.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: calibri_bold;
  font-display: swap;
  src: url("../fonts/calibri_bold.woff2") format("woff2"), url("../fonts/calibri_bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Calibri";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Calibri";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.no-webp body{
  background: url("../img/bg.png"); }

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 110.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__line {
  background: #353030;
}

.form__input {
  padding: 20px;
  background: #5c5555;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  outline: none;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding-top: 1.75rem;
}

.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: clamp(0.9375rem, 9.375vw, 11.25rem);
  padding-right: clamp(0.9375rem, 7.81vw, 9.375rem);
}

.header-block__logo {
  padding-left: 2.5625rem;
}

.header-block__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  line-height: 1.8125rem;
  font-weight: 700;
  color: #141419;
  padding-right: 3.5rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(0.625rem, 3.9vw, 4.6875rem);
  white-space: nowrap;
}

.menu__link {
  font-family: "Calibri";
  line-height: 1.6111111111em;
  font-weight: 400;
  color: #616161;
}

.menu__link::after {
  content: "";
  display: block;
  width: 100%;
  background-color: #616161;
  height: 1px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu__link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.icon-menu {
  display: none;
}

.page {
  padding-top: 2.3125rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
  grid-auto-flow: revert;
  padding-left: clamp(0.9375rem, 9.375vw, 11.25rem);
  margin-left: 0;
}

.main__photo img {
  max-width: 100%;
}

.main-foumd {
  max-width: 41.1875rem;
}

.main-foumd__title {
  font-size: clamp(2.8125rem, 3.125vw, 3.75rem);
  line-height: 120%;
  font-weight: 700;
  color: #141419;
}

.main-foumd__title h1 {
  -webkit-box-shadow: inset 0px -0.195em 0px 0px white, inset 0px -0.413em 0px 0px rgb(251, 151, 59);
          box-shadow: inset 0px -0.195em 0px 0px white, inset 0px -0.413em 0px 0px rgb(251, 151, 59);
  display: inline;
}

.main-foumd__subtitle {
  width: 20.25rem;
  padding-top: 1.25rem;
  font-size: clamp(1.125rem, 1.25vw, 1.5rem);
  line-height: clamp(1.75rem, 1.875vw, 2.25rem);
  font-weight: 400;
  color: #616161;
  padding-bottom: 2.1875rem;
}

.main-foumd__subtitle span {
  color: #fb973b;
}

.main-foumd__form input {
  background: #f8f8f8;
  padding: 1.4375rem 0px 1.3125rem 2rem;
  border: 1px solid rgb(225, 225, 225);
  border-right: none;
}

.button {
  background: rgb(251, 151, 59);
  padding-right: 3.3125rem;
  padding-left: 3.3125rem;
  color: #fff;
}

.about {
  padding-top: clamp(2.8125rem, 6.87vw, 8.25rem);
  padding-bottom: 2.5rem;
}

.about-block__title {
  padding-top: 1.125rem;
  text-align: center;
  font-size: clamp(2.8125rem, 3.125vw, 3.75rem);
  line-height: 72px;
  font-weight: 700;
  color: #141419;
}

.about-block__title h2 {
  background-size: 1px 1em;
  -webkit-box-shadow: inset 0 -0.175em white, inset 0 -0.413em rgb(251, 151, 59);
          box-shadow: inset 0 -0.175em white, inset 0 -0.413em rgb(251, 151, 59);
  display: inline;
}

.about-block__subtitle {
  max-width: 31.75rem;
  padding-top: clamp(1.25rem, 1.77vw, 1.25rem);
  text-align: center;
  margin: 0 auto;
  font-size: clamp(1.125rem, 1.25vw, 1.5rem);
  line-height: clamp(1.25rem, 1.87vw, 2.25rem);
  font-weight: 400;
  color: #616161;
}

.about-block__subtitle span {
  color: #fb973b;
}

.about-block__content {
  padding-top: clamp(1.25rem, 2.34vw, 2.1875rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-block__content img {
  padding-left: 1.6875rem;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-block__content-text {
  max-width: 24.375rem;
}

.text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
  color: #141419;
  text-align: left;
  font-size: 1.125rem;
  line-height: 1.3888888889em;
  font-weight: 400;
  color: #141419;
}

.text-content__01 {
  padding-bottom: 18px;
}

.text-content__01 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 50%;
  border: 1px solid #fcba7c;
  color: #fcba7c;
  margin-bottom: 1.875rem;
}

.text-content__01 span::before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 0.0625rem;
  height: 1.3125rem;
  background-color: #fcba7c;
  margin-top: 2.5625rem;
}

.text-content__02 {
  padding-bottom: 0.625rem;
}

.text-content__02 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 50%;
  border: 0.0625rem solid #fcba7c;
  color: #fcba7c;
  margin-bottom: 1.875rem;
}

.text-content__02 span::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 0.0625rem;
  height: 1.3125rem;
  background-color: #fcba7c;
  margin-top: -2.5625rem;
}

.text-content__02 span::before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 0.0625rem;
  height: 1.3125rem;
  background-color: #fcba7c;
  margin-top: 2.5625rem;
}

.text-content__03 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 1.3125rem;
  height: 1.3125rem;
  border-radius: 50%;
  border: 0.0625rem solid #fcba7c;
  position: relative;
  color: #fcba7c;
  margin-bottom: 1.875rem;
}

.text-content__03 span::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 0.0625rem;
  height: 1.3125rem;
  background-color: #fcba7c;
  margin-top: -2.5625rem;
}

.text-content__03 span::before {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  width: 0.0625rem;
  height: 1.3125rem;
  background-color: #fcba7c;
  margin-top: 2.5625rem;
}

@media (min-width: 61.99875em) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 58.718487395%;
    grid-template-columns: 1fr 58.718487395%;
    margin-left: clamp(0.9375rem, 7.81vw, 9.375rem);
  }
}

@media (max-width: 1120px) {
  .header-block {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .main {
    padding-left: 0.9375rem;
  }
}

@media (max-width: 412px) {
  .form {
    max-width: 100%;
  }

  .form__line {
    max-width: 170px;
  }

  .main-foumd__form input {
    max-width: 18.75rem;
    padding: 0.8125rem 0px 0.8125rem 1.5625rem;
  }

  .button {
    padding-right: 1.875rem;
    padding-left: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .header-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-block__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #e6e6e6;
    padding: 6.25rem 0.9375rem 3.125rem 0.9375rem;
    -webkit-transition: left 0.5s ease 0s;
    -o-transition: left 0.5s ease 0s;
    transition: left 0.5s ease 0s;
  }

  .menu-open .header-block__menu {
    left: 0;
  }

  .menu-open .header-block__menu::before {
    left: 0;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 1.5625rem;
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__found {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .main-foumd {
    padding-top: 0rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .header-block__logo {
    padding-left: 0;
  }

  .header-block__phone {
    padding-right: 0;
  }

  .about-block__content img {
    padding-left: 0;
  }

  .about-block__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 29.99875em) {
  .main-foumd__title {
    line-height: 50px;
  }

  .about-block__title {
    line-height: 50px;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #f0831e;
  }
}

.webp body{ background: url(../img/bg.webp); }